@import '../../assets/styles/colors';

.product {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.05);
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;

	.content {
		padding: 20px;
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 100%;

		.description {
			margin-right: 30px;
			max-width: 400px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h1,
			span {
				margin: 0;
				display: block;
				color: $color-dark-grey-1;
			}

			h1 {
				font-size: 30px;
				font-family: SF UI Display Black;
			}

			span {
				font-size: 18px;
				font-family: SF UI Display Thin;
			}
		}

		.price {
			display: flex;
			flex-direction: column;
			justify-content: center;
			span {
				display: block;
				color: $color-dark-grey-1;

				&.price-u {
					font-size: 24px;
					font-family: SF UI Display Medium;
				}

				&.price-t {
					font-size: 28px;
					font-family: SF UI Display Black;
				}
			}
		}

		.quantity {
			display: flex;
			align-items: center;
			color: $color-dark-grey-1;
			max-width: 300px;

			.anticon {
				cursor: pointer;
				font-size: 26px;
			}

			.quantity-input {
				border: none;
				box-shadow: none;
				width: auto;
				color: inherit;
				margin: 5px 0;
				background: none;

				input {
					height: 50px;
					font-size: 36px;
					text-align: center;
					font-family: SF UI Display Black;
					text-align: right;
					padding-right: 0;

					&:focus {
						color:$color-red !important;
					}
				}

				.ant-input-number-handler-wrap {
					display: none;
				}
			}

			.quantity-controls {
				display: flex;
				flex-direction: column;
				margin-left: 15px;

				.btn {
					margin: 5px 0;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					background: $color-dark-grey-1;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
	}

	.delete {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
		width: 80px;
		color: $color-dark-grey-1;
		cursor: pointer;
		font-size: 32px;
		transition:
			ease color .3s,
			ease background .3s,
			ease font-size .3s;

		&:hover {
			background: $color-red;
			color: #fff;
			font-size: 38px;
		}
	}
}
