#notifications_box{
    max-height:400px;
    overflow: auto;

    .notification{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
        
        h4{
            font-size: 16px;
        }

        span.ant-typography, span.date {
            font-size: 12px;
        }

        .buttons{
            a{
                margin-left: 15px;
                z-index:9000;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}